<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.user">

    <application
        android:name=".app.UserApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.UserHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <!-- atlas remote router begin -->
        <meta-data
            android:name="atlas.transaction.intent.action.user.UserUiRemoteAction"
            android:value="com.pine.user.remote.atlas.UserAtlasUiRemote" />
        <meta-data
            android:name="atlas.transaction.intent.action.user.UserDataRemoteAction"
            android:value="com.pine.user.remote.atlas.UserAtlasDataRemote" />
        <meta-data
            android:name="atlas.transaction.intent.action.user.UserOpRemoteAction"
            android:value="com.pine.user.remote.atlas.UserAtlasOpRemote" />
        <!-- atlas remote router end -->
    </application>
</manifest>