<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.main">

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.MainHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <!-- atlas remote router begin -->
        <meta-data
            android:name="atlas.transaction.intent.action.main.MainBundleRemoteAction"
            android:value="com.pine.main.remote.atlas.MainBundleRemote" />
        <!-- atlas remote router end -->
    </application>

</manifest>

