<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.b">

    <application
        android:name=".app.BusinessBApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.BusinessBHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <!-- atlas remote router begin -->
        <meta-data
            android:name="atlas.transaction.intent.action.business.BusinessBBundleRemoteAction"
            android:value="com.pine.b.remote.atlas.BusinessBBundleRemote" />
        <!-- atlas remote router end -->
    </application>
</manifest>
