<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.mvvm">

    <application
        android:name=".app.MvvmApplication"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- atlas remote router begin -->
        <meta-data
            android:name="atlas.transaction.intent.action.business.MvvmUiRemoteAction"
            android:value="com.pine.mvvm.remote.atlas.MvvmAtlasUiRemote" />
        <meta-data
            android:name="atlas.transaction.intent.action.business.MvvmDataRemoteAction"
            android:value="com.pine.mvvm.remote.atlas.MvvmAtlasDataRemote" />
        <meta-data
            android:name="atlas.transaction.intent.action.business.MvvmOpRemoteAction"
            android:value="com.pine.mvvm.remote.atlas.MvvmAtlasOpRemote" />
        <!-- atlas remote router end -->
    </application>
</manifest>
